<div class="bg-top"></div>
<div class="bg-middle"></div>
<div class="bg-bottom">
  <div class="bl"></div><div class="br"></div>
  <div class="bottom-bag"></div>
</div>
<ul class="pocket-select">
  <% _.each(['misc', 'medicine', 'pokeballs', 'berries', 'mail', 'key'], function(pocket){ %>
    <li><a data-pocket="<%=pocket%>" <%if (state.pocket==pocket) { %>class="selected"<% } %> title="<%= t('pocket.'+pocket) %>"></a></li>
  <% }) %>
</ul>
<div class="item-container">
  <% _.times(6, function(){ %>
    <div class="item-grid">
      <div class="item-view item-view-empty"></div>
    </div>
  <% }) %>
</div>
<div class="item-pages">
  <ul class="pagination"></ul>
</div>