<div class="paradise-nav-wrap hidden-phone"><div id="paradise-nav"></div></div>
<ul class="paradise-nav-text hidden-tablet hidden-desktop">
  <li data-action="party" data-color="#33505d"><%= t('menu.party') %></li>
  <li data-action="world" data-pos="6" data-color="#e84c3d"><%= t('menu.pokemon-world') %></li>
  <li data-action="pokedex" data-pos="5" data-color="#e77e23"><%= t('menu.pokedex') %></li>
  <li data-action="pokemart" data-pos="4" data-color="#f1c40f"><%= t('menu.poke-mart') %></li>
  <li data-action="daycare" data-pos="3" data-color="#fff" data-text-color="#96a6a6"><%= t('menu.day-care') %></li>
  <li data-action="square" data-pos="7" data-color="#2fcc71"><%= t('menu.amity-square') %></li>
  <li data-action="storage" data-pos="8" data-color="#3598dc"><%= t('menu.storage') %></li>
  <li data-action="bag" data-pos="1" data-color="#9c59b8"><%= t('menu.bag') %></li>
  <li data-action="battle" data-pos="2" data-color="#96a6a6"><%= t('menu.battle-tower') %></li>
</ul>

<ul class="bottom-icons">
  <li data-icon="me"></li>
  <li data-icon="square"></li>
  <li data-icon="setting"></li>
  <li data-icon="migrate"></li>
</ul>