<div class="intro-background">
  <% if (! /(iPad|iPhone|iPod|Android)/g.test( navigator.userAgent )) { %>
    <video src="images/intro/intro-video.mp4" autoplay="autoplay" loop="" />
  <% } %>
</div>
<div class="intro-front">
  <div class="screen next">
    <div class="intro-content"><%= t('intro.text-1') %></div>
  </div>
  <div class="screen next hide">
    <div class="intro-content"><%= t('intro.text-2') %></div>
  </div>
  <div class="screen next hide">
    <div class="intro-content"><%= t('intro.text-3') %></div>
  </div>
  <div class="screen next hide">
    <div class="intro-content"><%= t('intro.text-4') %></div>
  </div>
  <div class="screen next hide">
    <div class="intro-content"><%= t('intro.text-5') %></div>
  </div>
  <div class="screen next hide">
    <div class="intro-content"><%= t('intro.text-6') %></div>
  </div>
  <div class="screen hide screen-region">
    <div class="intro-content">
      <p><%= t('intro.region-select') %></p>
      <ul class="region-select">
        <li data-region="kanto"><%= t('region.kanto') %></li>
        <li data-region="johto"><%= t('region.johto') %></li>
        <li data-region="hoenn"><%= t('region.hoenn') %></li>
      </ul><ul class="region-select">
        <li data-region="sinnoh"><%= t('region.sinnoh') %></li>
        <li data-region="unova"><%= t('region.unova') %></li>
      </ul>
    </div>
  </div>
  <div class="screen next hide">
    <div class="intro-content"><%= t('intro.text-7') %></div>
  </div>
  <div class="screen next hide">
    <div class="intro-content"><%= t('intro.text-8') %></div>
  </div>
  <div class="screen next hide">
    <div class="intro-content"><%= t('intro.text-9') %></div>
  </div>
  <div class="screen next hide">
    <div class="intro-content"><%= t('intro.text-10') %></div>
  </div>
  <div class="screen next hide">
    <div class="intro-content"><%= t('intro.text-11') %></div>
  </div>
  <div class="screen hide screen-pokemon">
    <div class="intro-content">
      <p><%= t('intro.pokemon-select') %></p>
      <div class="pokemon-select">
        <div class="pokemon pokemon-grass"><div class="inside"></div></div>
        <div class="pokemon pokemon-fire"><div class="inside"></div></div>
        <div class="pokemon pokemon-water"><div class="inside"></div></div>
      </div>
    </div>
  </div>
  <div class="screen hide screen-final">
    <div class="intro-content">
      <p></p>
      <div class="pokemon"><div class="inside"></div></div>
    </div>
  </div>
</div>