<li><a href="/party"><%= t('menu.party') %></a></li>
<li><a href="/pokedex"><%= t('menu.pokedex') %></a></li>
<li><a href="/bag"><%= t('menu.bag') %></a></li>
<li><a href="/trainer"><%= t('menu.trainer-card') %></a></li>
<li><a href="/storage"><%= t('menu.storage') %></a></li>
<li><a href="/world"><%= t('menu.pokemon-world') %></a></li>
<li class="panel">
  <a class="collapsed" data-parent="#menu" data-toggle="collapse" data-target="#menu-paradise"><%= t('app.pokemon-paradise') %><span></span></a>
  <ul class="collapse" id="menu-paradise">
    <li class="hide"><a href="/timeline"><%= t('menu.timeline') %></a></li>
    <li><a href="/pokemart"><%= t('menu.poke-mart') %></a></li>
    <li><a href="/daycare"><%= t('menu.day-care') %></a></li>
    <li><a href="/trade"><%= t('menu.trade') %></a></li>
    <li class="hide"><a href="/battle"><%= t('menu.battle-tower') %></a></li>
  </ul>
</li>
<li class="hide"><a href="/rank"><%= t('menu.rank') %></a></li>
<li class="panel">
  <a class="collapsed" data-parent="#menu" data-toggle="collapse" data-target="#menu-setting"><%= t('menu.setting') %><span></span></a>
  <ul class="collapse" id="menu-setting">
    <li class="hide"><a href="/migrate"><%= t('menu.poke-transfer') %></a></li>
    <li><a href="/setting"><%= t('menu.trainer-setting') %></a></li>
    <li class="hide"><a href="/record"><%= t('menu.record') %></a></li>
  </ul>
</li>
<li><a href="/help"><%= t('menu.help') %></a></li>