<h4 class="msg-title">
  <span class="pull-right create-time" title="<%= moment(createTime).format('lll') %>"><%= moment(createTime).fromNow() %></span>

  <% if (type == 'gift-item') { %>
    <%= t('msg.gift-item', {sender: sender.name || t('app.pokemon-paradise'), number: relatedNumber, item: t('item:'+relatedItem.name)}) %>
    <img class="item-img" src="<%= PARADISE.imgBase %>/items/<%= (relatedItem.name) %>.png" alt="<%= t('item:' + relatedItem.name) %>" />

  <% } else if (type == 'event-pokemon') { %>
    <%= t('msg.event-pokemon', {pokemon: pokemonName(receiverPokemon)}) %>
    <div class="sprite">
      <img src="<%= spriteUrl(receiverPokemon) %>" alt="<%- pokemonName(receiverPokemon) %>" />
    </div>

  <% } else if (type == 'message') { %>
    <%= t('msg.message', {sender: sender.name || t('app.pokemon-paradise')}) %>
  <% } %>
</h4>
<p>
  <% if (type == 'gift-item') { %>
    <%- content || t('item:description.' + relatedItem.name) %>
  <% } else { %>
    <%- content %>
  <% } %>
</p>