<div class="sprite-container" data-before="<%- old.spriteUrl() %>" data-after="<%- spriteUrl() %>">
  <img class="sprite" src="<%- old.spriteUrl() %>" alt="<%- old.pokemonName() %>" />
</div>
<ul>
  <% _.each(events, function(event){ %>
    <li class="event">
      <% if (event.type == 'level') { %>
        <%- t('events.level-up', {pokemon: old.pokemonName(), level: event.value}) %>
      <% } else if (event.type == 'happiness') { %>
        <%- t('events.happiness', {pokemon: old.pokemonName()}) %>
      <% } else if (event.type == 'hp') { %>
        <%- t('events.hp', {pokemon: old.pokemonName(), hp: event.value}) %>
      <% } else if (event.type == 'effort') { %>
        <%- t('events.effort', {pokemon: old.pokemonName(), stat: _.map(_.keys(event.value), function(stat){ return t('stat.'+stat) }).join(t('events.connector'))}) %>
      <% } else if (event.type == 'evolution') { %>
        <%- t('events.evolution', {pokemon: old.pokemonName(), evolution: t('pokemon:' + pokemon.species.name) }) %>
      <% } else if (event.type == 'experience') { %>
        <%- t('events.experience', {pokemon: old.pokemonName(), experience: event.value}) %>
      <% } else if (event.type == 'forme') { %>
        <%- t('events.forme', {pokemon: old.pokemonName(), forme: t('forme.' + event.value)}) %>
      <% } %>
    </li>
  <% }) %>
</ul>