<div class="pokemon-top"></div>
<div class="content">
  <!-- Detailed information of Pokémon -->
  <div class="left-info">
    <p>ID. <%= pokemon.id.substr(-6) %></p>
    <p><%= t('stat.nature') %>: <%= t('nature.'+pokemon.nature.name) %></p>
    <p><%= t('stat.experience') %>: <%= pokemon.experience %></p>
  </div>
  <div class="right-info">
    <p class="alt">No. <%= ('00'+pokemon.species.number).substr(-3) %></p>
    <p>
      <% if (pokemon.holdItem) { %>
        <%= t('stat.hold-item') %>: <%= t('item:'+pokemon.holdItem.name) %>
      <% } else { %>
        <%= t('stat.hold-item') %>: <%= t('stat.none') %>
      <% } %>
    </p>
    <p>
      <%= t('stat.to-next-level') %>: <%= pokemon.expNextLevel - pokemon.experience %>
    </p>
  </div>
  <div class="experience-bar">
    EXP<div class="progress progress-info"><div class="bar" style="width: <%= (pokemon.experience - pokemon.expCurrentLevel) / (pokemon.expNextLevel - pokemon.expCurrentLevel) * 100 %>%"></div></div>
  </div>
  <div class="left-info">
    <p class="alt"><%= t('stat.hp') %>: <%= pokemon.stats.hp %> / <%= pokemon.stats['max-hp'] %></p>
    <p class="<% if (pokemon.nature.increasedStat == 'attack') { %>increase<%
    } else if (pokemon.nature.decreasedStat == 'attack') { %>decrease<%
    } else { %>alt<% } %>"><%= t('stat.attack') %>: <%= pokemon.stats.attack %></p>
    <p class="<% if (pokemon.nature.increasedStat == 'defense') { %>increase<%
    } else if (pokemon.nature.decreasedStat == 'defense') { %>decrease<%
    } else { %>alt<% } %>"><%= t('stat.defense') %>: <%= pokemon.stats.defense %></p>
  </div>
  <div class="right-info">
    <p class="<% if (pokemon.nature.increasedStat == 'special-attack') { %>increase<%
    } else if (pokemon.nature.decreasedStat == 'special-attack') { %>decrease<%
    } else { %>alt<% } %>"><%= t('stat.special-attack') %>: <%= pokemon.stats['special-attack'] %></p>
    <p class="<% if (pokemon.nature.increasedStat == 'special-defense') { %>increase<%
    } else if (pokemon.nature.decreasedStat == 'special-defense') { %>decrease<%
    } else { %>alt<% } %>"><%= t('stat.special-defense') %>: <%= pokemon.stats['special-defense'] %></p>
    <p class="<% if (pokemon.nature.increasedStat == 'speed') { %>increase<%
    } else if (pokemon.nature.decreasedStat == 'speed') { %>decrease<%
    } else { %>alt<% } %>"><%= t('stat.speed') %>: <%= pokemon.stats.speed %></p>
  </div>
  <p class="original-trainer">
    <%= t('stat.original-trainer') %>: <%- pokemon.originalTrainer.name %>
  </p>
  <p class="meet-date">
    <%= t('stat.meet-date', {meetDate: moment(pokemon.meetDate).format('L'), meetPlace: t('location:' + pokemon.meetPlaceIndex), meetLevel: pokemon.meetLevel }) %>
  </p>
  <div class="tradable">
    <div class="switch switch-mini pull-right">
      <input type="checkbox" <% if (pokemon.tradable) {%>checked=""<%}%> />
    </div>
    <%= t('stat.tradable') %>
  </div>

  <!-- Disposit, release or send to Pokémon Center -->
  <div class="actions">
    <% if (pokemon.lostHp) { %>
      <p><button class="btn btn-success btn-mini btn-send-pc"> - <%= t('action.send-pokemon-center') %> - </button></p>
    <% } %>
    <p><button class="btn btn-info btn-mini btn-deposit"> - <%= t('action.deposit') %> - </button></p>
    <p><button class="btn btn-danger btn-mini btn-release"> - <%= t('action.release') %> - </button></p>
  </div>

  <!-- Shiny star and held item -->
  <% if (pokemon.isShiny) {%><div class="shiny-star"></div><%}%>
  <img class="poke-ball" src="<%= imgBase %>/items/<%= pokemon.pokeBall.name %>.png" alt="<%= t('item:'+pokemon.pokeBall.name) %>" title="<%= t('item:'+pokemon.pokeBall.name) %>" />
</div>
<div class="pokemon-bottom"></div>

<!-- Sprite and name -->
<img class="sprite" src="<%= spriteUrl %>" alt="<%- pokemon.nickname || t('pokemon:'+pokemon.species.name) %>" />
<div class="name"><%- pokemon.nickname || t('pokemon:'+pokemon.species.name) %></div>

<!-- Level and type on the left -->
<div class="level">Lv. <%= pokemon.level %></div>
<div class="type">
  <% _.each(pokemon.species.types, function(type){
    %><span class="label type-<%= type.name %>"><%= t('type.'+type.name) %></span><%
  }) %>
</div>

<!-- Species name, gender and HP bar on the right -->
<div class="species-name">
  <%= t('pokemon:'+pokemon.species.name) %><%
  if (pokemon.gender == Gender.female) {
    %><span class="female">♀</span><%
  } else if (pokemon.gender == Gender.male) {
    %><span class="male">♂</span>
  <% } %>
  <span>
</div>
<div class="hp">
  HP<div class="progress"><div class="bar <%
  if (pokemon.stats.hp / pokemon.stats['max-hp'] <= 0.2) {
    %>bar-danger<%
  } else if (pokemon.stats.hp / pokemon.stats['max-hp'] <= 0.5) {
    %>bar-warning<%
  } else {
    %>bar-success<%
  } %>" style="width: <%= pokemon.stats.hp / pokemon.stats['max-hp'] * 100 %>%"></div></div>
</div>

<!-- Happiness on the top -->
<div class="happiness happiness-<% if (pokemon.happiness < 70) { %>anger<%
  } else if (pokemon.happiness < 130) { %>normal<%
  } else if (pokemon.happiness < 200) { %>smile<%
  } else if (pokemon.happiness < 255) { %>happy<%
  } else { %>full<% } %>"></div>