<div class="title">
  <div class="custom">
    <div>
      <button type="button" class="btn btn-switch-wallpaper dropdown-toggle" data-toggle="dropdown">
        <span><%- t('wallpaper.'+(wallpaper || 'blue')) %></span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu switch-wallpaper" role="menu">
        <% _.each(wallpapers, function(wp){ %>
          <li <%if (wp == (wallpaper || 'blue')){%>class="active"<%}%>><a data-wallpaper="<%= wp %>" href="#"><%= t('wallpaper.'+wp) %></a></li>
        <% }) %>
      </ul>
    </div>
    <div>
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
        <%= t('action.storage-sort') %> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu sort-storage" role="menu">
        <li><a data-sort="meetDate" href="#"><%= t('action.storage-sort-time') %></a></li>
        <li><a data-sort="level" href="#"><%= t('action.storage-sort-level') %></a></li>
        <li><a data-sort="speciesNumber" href="#"><%= t('action.storage-sort-dex') %></a></li>
      </ul>
    </div>
  </div>
  <div class="name">
    <span><%- name || t('stat.storage-name', {boxId: boxId + 1}) %></span>
    <input style="display:none" type="text" placeholder="<%- t('stat.storage-name', {boxId: boxId + 1}) %>" />
  </div>
</div>
<div class="content">
  <div class="pokemon-container">
    <% _.times(30, function(){ %>
      <div class="pokemon-grid">
        <div class="storage-pokemon-view storage-pokemon-view-empty"></div>
      </div>
    <% }) %>
  </div>
  <div class="storage-pages">
    <ul class="pagination"></ul>
  </div>
</div>