@color-52poke: #e34234;

body {
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "WenQuanYi Micro Hei", Arial, sans-serif;
}

nav.navbar {
  .navbar-static-top;
  .navbar-inverse;
  background-color: lighten(@color-52poke, 10%);
  border-width: 0 0 1px;

  .navbar-brand {
    color: #fff;
  }
  .navbar-nav {
    > li > a {
      color: lighten(@color-52poke, 35%);

      &:hover {
        color: #fff;
      }
    }
    > .active > a {
      &, &:hover {
        color: #fff;
        background-color: @color-52poke;
      }
    }
  }
  .navbar-toggle {
    border-color: lighten(@color-52poke, 10%);
    &:hover {
      background-color: @color-52poke;
      border-color: @color-52poke;
    }
  }

  &, .navbar-collapse {
    border-color: darken(@color-52poke, 10%);
  }
}

#paradise-app {
  .make-row();

  main:not(.expand) {
    .make-sm-column(9);
    .make-sm-column-push(3);
  }

  main.expand {
    .make-sm-column(12);
  }

  aside {
    .make-sm-column(3);
    .make-sm-column-pull(9);
  }
}

footer {
  .make-row();

  p {
    .make-sm-column(12);
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 990px;
  }
}

@media (min-width: 768px) {
  #paradise-app {
    main.expand + aside {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  #paradise-app {
    main {
      margin-bottom: 20px;
    }
  }
}

.modal-open {
  body&,
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    margin-right: 0;
  }
}