@import "../components/bootstrap/less/bootstrap.less";
@import "../components/bootstrap/less/responsive.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
  .container {
    max-width: 960px !important;
  }
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "WenQuanYi Micro Hei", Arial, sans-serif;
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

@media (max-width: 980px) {
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 768px) {
  #paradise-app {
    background-color: #d4f2f6;
    border-radius: 5px;
    position: relative;
  }
}

@import "menu.less";
@import "home.less";