#bag-view {
  position: relative;

  .pocket-select {
    font-size: 0;
    margin-bottom: 0;
    padding-left: 0;
    .make-row();
    max-width: 444px;
    margin: 0 auto !important;

    li {
      .make-xs-column(4);
      .make-sm-column(2);
      text-align: center;
    }

    a {
      display: block;
      background-color: #f0e088;
      background-repeat: no-repeat;
      background-position: center center;
      .box-sizing(border-box);
      margin: 10px auto;
      width: 44px;
      height: 44px;
      border: 2px solid #a18b53;
      border-radius: 22px;
      .box-shadow(0 0 5px #fff);
      cursor: pointer;

      &.selected {
        -webkit-box-shadow: 0 0 5px #fff, 0 2px #a18b53 inset;
                box-shadow: 0 0 5px #fff, 0 2px #a18b53 inset;
        cursor: pointer;
      }

      &:not(.selected):hover {
        border-color: #c7aa66;
      }

      &[data-pocket="misc"] {
        background-image: data-uri('../images/bag/bag-misc.png');
      }
      &.selected[data-pocket="misc"] {
        background-image: data-uri('../images/bag/bag-misc-select.png');
      }
      &[data-pocket="medicine"] {
        background-image: data-uri('../images/bag/bag-medicine.png');
      }
      &.selected[data-pocket="medicine"] {
        background-image: data-uri('../images/bag/bag-medicine-select.png');
      }
      &[data-pocket="pokeballs"] {
        background-image: data-uri('../images/bag/bag-pokeballs.png');
      }
      &.selected[data-pocket="pokeballs"] {
        background-image: data-uri('../images/bag/bag-pokeballs-select.png');
      }
      &[data-pocket="berries"] {
        background-image: data-uri('../images/bag/bag-berries.png');
      }
      &.selected[data-pocket="berries"] {
        background-image: data-uri('../images/bag/bag-berries-select.png');
      }
      &[data-pocket="mail"] {
        background-image: data-uri('../images/bag/bag-mail.png');
      }
      &.selected[data-pocket="mail"] {
        background-image: data-uri('../images/bag/bag-mail-select.png');
      }
      &[data-pocket="key"] {
        background-image: data-uri('../images/bag/bag-key.png');
      }
      &.selected[data-pocket="key"] {
        background-image: data-uri('../images/bag/bag-key-select.png');
      }
    }
  }

  .item-container {
    .make-row();

    .item-grid {
      .make-sm-column(6);

      .item-view {
        margin: 0 auto 6px;
      }
    }
  }

  .item-pages {
    text-align: center;
    .pagination {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 767px) {
  #bag-view {
    margin-top: -10px;
    .item-container {
      margin-left: -15px;
      margin-right: -15px;
      .item-view {
        width: 100%;
      }
    }
  }
}

@media (min-width: 768px) {
  #bag-view {
    .bg-top, .bg-middle, .bg-bottom {
      z-index: -1;
      position: absolute;
      width: 100%;
      left: 0;
    }
    .bg-top {
      height: 418px;
      background-color: #eed85b;
    }
    .bg-middle {
      top: 418px;
      height: 98px;
      background-color: #e0a038;
    }
    .bg-bottom {
      top: 516px;
      height: 176px;
      font-size: 0;
      .bl, .br {
        width: 50%;
        max-width: 50%;
        display: inline-block;
        height: 176px;
        border-style: solid;
        border-color: #e0a038;
        border-bottom-color: transparent;
        border-top-width: 88px;
        border-right-width: 133px;
        border-bottom-width: 88px;
        border-left-width: 133px;
      }
      .bl {
        border-left-color: transparent;
      }
      .br {
        border-right-color: transparent;
      }

      .bottom-bag {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -184.5px;
        width: 369px;
        height: 176px;
        background: url(../images/bag/bottom-bag.png) no-repeat;
      }
    }
    min-height: 692px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 992px) {
  #bag-view {
    padding-left: 50px;
    padding-right: 50px;
    .bg-bottom {
      .bl, .br {
        border-right-width: 178px;
        border-left-width: 178px;
      }
    }
  }
}