#day-care-view {
  section {
    height: 384px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .wrapper {
      position: absolute;
      height: 100%;
      width: 100%;
      .transition(top 0.5s ease-in-out);
    }

    h1 {
      font-size: 30px;
      color: #fff;
      padding: 20px 0;
      width: 100%;
      text-align: center;
      margin: 0;
      cursor: pointer;
    }

    &.open {
      cursor: auto;
      .wrapper {
        top: 0 !important;
      }
    }
  }

  .deposit {
    background: #26d670;
    .wrapper {
      top: 314px;
    }
    .party-select {
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 15px;
    }

    .search-day-care {
      text-align: center;
      padding-left: 70px;
      padding-right: 70px;
      .form-group {
        margin-bottom: 5px;
      }
      .btn {
        .btn-primary;
      }
    }
  }

  .withdraw {
    height: 690px;
    background: #ffd324;
    .wrapper {
      top: -620px;
    }
  }
}

@media (min-width: 768px) {
  #day-care-view {
    .deposit {
      .party-select {
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 30px;
      }
      .search-day-care .form-group {
        margin-bottom: 0;
      }
    }
    .withdraw {
      height: 384px;
      .wrapper {
        top: -314px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

@media (min-width: 992px) {
  #day-care-view {
    .deposit .party-select {
      padding-left: 70px;
      padding-right: 70px;
    }
  }
}