.day-care-room {
  height: 147px;
  background: data-uri('../images/day-care/day-care-room.png') center center no-repeat;
  position: relative;
  margin-bottom: 6px;
  .make-sm-column(6,0);

  .care-pokemon {
    position: absolute;
    top: 0;
    left: 50%;
    text-align: center;
    width: 96px;
    height: 100%;
    line-height: 100%;
    .text-blur;

    .sprite {
      position: absolute;
      top: 19px;
      width: 96px;
      height: 96px;
    }

    .sprite.empty {
      .transition(background-color 0.2s ease-out);
      top: 25px;
      border-radius: 48px;
      cursor: pointer;
      &:hover {
        background-color: rgba(255,255,255,0.5);
      }
    }

    .name {
      position: absolute;
      top: 115px;
      width: 100%;
      word-break: break-all;
    }
  }

  .care-pokemon-1 {
    margin-left: -115px;
  }

  .care-pokemon-2 {
    margin-left: 19px;
  }

  .egg {
    position: absolute;
    width: 96px;
    height: 96px;
    margin-left: -48px;
    left: 50%;
    bottom: -25px;
  }

  .can-withdraw {
    cursor: pointer;
    .transition-transform(0.2s ease-out);
    &:hover {
      .translate(0, -5px);
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .day-care-room {
    background-size: 100%;
  }
}

.day-care-room-other {
  @media (min-width: 768px) {
    background-size: 100%;
  }
  .sprite:not(.empty) {
    cursor: default;
    &:hover {
      .translate(0, 0);
    }
  }
}