#day-care-carousel {
  .carousel-inner {
    height: 627px;
    margin-bottom: -10px;
    .item {
      .make-row(0);
      height: 627px;
      padding-top: 15px;
    }
  }

  .carousel-control {
    width: 38px;
    opacity: 1;
    background: data-uri('../images/day-care/carousel-control.png') center center no-repeat;

    &:hover {
      opacity: 0.8;
    }

    &.right {
      .rotate(180deg);
    }
  }
}

@media (min-width: 768px) {
  #day-care-carousel {
    .carousel-inner {
      height: 321px;
      .item {
        height: 321px;
      }
    }
  }
}

@media (min-width: 992px) {
  #day-care-carousel {
    padding-left: 22px;
    padding-right: 22px;
  }
}