.pokemon-view {
  width: 355px;
  max-width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  position: relative;
  .pokemon-top {
    height: 71px;
    background: url(../images/pokemon/party-pokemon.png) center top no-repeat;
  }
  .pokemon-bottom {
    height: 46px;
    background: url(../images/pokemon/party-pokemon.png) center -71px no-repeat;
  }

  .sprite {
    display: block;
    position: absolute;
    top: 15.5px;
    left: 50%;
    margin-left: -48px;
    height: 96px;
    width: 96px;
  }

  .level, .type, .species-name, .hp {
    position: absolute;
    width: 82px;
    text-align: center;
    line-height: 18px;
    top: 47px;
    left: 50%;
    white-space: nowrap;
    margin-left: -140px;
  }

  .species-name, .hp {
    margin-left: 58px;
  }

  .type, .hp {
    top: 63px;
  }

  .level, .species-name, .hp {
    .text-shadow;
  }

  .type {
    .label { font-weight: normal; }
  }

  .progress {
    display: inline-block;
    margin-bottom: 0;
    height: 5px;
    line-height: 5px;
    margin-left: 5px;
    vertical-align: middle;
  }

  .hp {
    font-size: 11.844px;
    .progress {
      width: 65px;
    }
  }

  .name {
    .text-blur;
    position: absolute;
    line-height: 100%;
    top: 103px;
    left: 0;
    width: 100%;
    text-align: center;

    input {
      .form-control;
      .input-sm;
      width: 100px;
      margin: 0 auto;
      text-align: center;
      padding: 2px 6px;
      height: auto;
      line-height: 1.2;
    }
  }

  .happiness {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -7.5px;
    width: 15px;
    height: 16px;
    background-repeat: no-repeat;
  }

  .happiness-anger {
    background-image: data-uri('../images/pokemon/happiness-anger.gif');
  }

  .happiness-normal {
    background-image: data-uri('../images/pokemon/happiness-normal.gif');
  }

  .happiness-smile {
    background-image: data-uri('../images/pokemon/happiness-smile.gif');
  }

  .happiness-happy {
    background-image: data-uri('../images/pokemon/happiness-happy.gif');
  }

  .happiness-full {
    background-image: data-uri('../images/pokemon/happiness-full.gif');
  }

  .content {
    border-left: 12px solid #528bff;
    border-right: 12px solid #528bff;
    background: #a6cbff;
    .box-sizing(border-box);
    width: 355px;
    left: 50%;
    margin-left: -177.5px;
    position: relative;
    padding: 50px 7px 6px;
    line-height: 15px;
    display: none;

    p, .experience-bar, .tradable {
      margin-bottom: 6px;
    }
    .left-info, .right-info {
      .box-sizing(border-box);
      float: left;
      width: 50%;
    }
    .right-info {
      float: right;
      p {
        border-left: 2px solid;
        padding-left: 5px;
      }
    }
    .experience-bar {
      .progress {
        width: 271px;
      }
    }
    .meet-place {
      color: #9d261d;
    }
    .tradable {
      line-height: 24px;
      .ios-switch {
        .pull-right;
      }
    }
    .actions {
      text-align: center;
      button {
        .btn-xs;
      }
      .btn-send-pc {
        .btn-success;
      }
      .btn-take-item {
        .btn-warning;
      }
      .btn-deposit, .btn-withdraw {
        .btn-primary;
      }
      .btn-release {
        .btn-danger;
      }
    }
    .poke-ball {
      position: absolute;
      top: 12px;
      right: 37px;
    }
    .shiny-star {
      background-image: data-uri('../images/pokemon/shiny-star.png');
      width: 9px;
      height: 9px;
      position: absolute;
      top: 16px;
      right: 103px;
    }
  }
}

.pokemon-view-narrow {
  overflow: hidden;

  .hp {
    .progress {
      width: 54px;
    }
  }
  .content {
    padding-left: 30px;
    padding-right: 30px;
    .experience-bar {
      .progress {
        width: 236px;
      }
    }

    .poke-ball {
      right: 57px;
    }
  }
}

@media (max-width: 384px) {
  .pokemon-view {
    .pokemon-view-narrow;
  }
}

.popover .pokemon-view {
  .pokemon-view-narrow;
  cursor: default;
  width: 290px;
  
  margin-top: -37px;
  margin-bottom: -37px;
}