#pokedex-view {
  #pokedex-sprites {
    position: absolute;
    width: 175px;
    height: 96px;
    top: 50%;
    left: 50%;
    margin-left: -87.5px;
    margin-top: -115px;
    .carousel-control {
      opacity: 1;
      background: data-uri('../images/pokedex/arrow.png') center center no-repeat;
      &.right {
        .rotate(180deg);
      }
      &:hover {
        background-image: data-uri('../images/pokedex/arrow-hover.png');
      }
    }
    .carousel-inner {
      height: 100%;
      .item {
        height: 100%;
        .sprite {
          position: absolute;
          width: 96px;
          height: 96px;
          top: 50%;
          left: 50%;
          margin-left: -48px;
          margin-top: -48px;
        }
        .title {
          position: absolute;
          background: data-uri('../images/pokedex/sprite-title.png') no-repeat;
          width: 126px;
          height: 42px;
          line-height: 42px;
          color: #fff;
          text-shadow: #a5a5ad 1px 1px;
          text-align: center;
          top: 50%;
          left: 50%;
          margin-left: -63px;
          margin-top: -21px;
          display: none;
        }
        &:hover .title {
          display: block;
        }
      }
    }
  }

  .pokedex-entry {
    position: relative;
    height: 304px;
    margin-bottom: 25px;
    .top, .content, .bottom {
      position: absolute;
      width: 100%;
    }
    .top {
      top: 0;
      height: 38px;
      background: data-uri('../images/pokedex/entry-top.png') left bottom no-repeat;
      z-index: 2;
    }
    &.caught .top {
      background-image: data-uri('../images/pokedex/entry-top-caught.png');
    }
    .content {
      background: data-uri('../images/pokedex/entry-content.png') left center repeat-y;
      top: 24px;
      bottom: 24px;
      overflow: hidden;
    }
    .bottom {
      bottom: 0;
      height: 24px;
      background: data-uri('../images/pokedex/entry-bottom.png') left top no-repeat;
      z-index: 1;
    }

    .entry-infobox {
      position: absolute;
      width: 252px;
      bottom: -19px;
      height: 187px;
      left: 50%;
      margin-left: -126px;
      z-index: 5;
      background: data-uri('../images/pokedex/infobox-content.png') left 28px no-repeat;
      .infobox-top {
        height: 28px;
        background: data-uri('../images/pokedex/infobox-top.png') no-repeat;
      }
      .infobox-content {
        height: 116px;
        font-size: 17px;
        z-index: 1;
        text-shadow: #a5a5ad 1px 1px;
        p {
          padding: 0 27px;
          margin: 0;
          line-height: 35px;
          &.title {
            line-height: 36px;
            margin-top: -12px;
          }
          &.types {
            line-height: 43px;
            text-align: center;
            .label:not(:last-child) {
              margin-right: 50px;
            }
          }
        }
        .number {
          margin-right: 40px;
        }
      }
      .infobox-bottom {
        height: 43px;
        background: data-uri('../images/pokedex/infobox-bottom.png') no-repeat;
      }
    }
  }
  
  .pokedex-list-header {
    height: 14px;
    background: data-uri('../images/pokedex/pokedex-list-header.png') no-repeat;
  }

  .pokedex-list {
    height: 404px;
    border-top: 2px solid #007352;
    border-bottom: 2px solid #007352;
    position: relative;
    .list-container {
      height: 400px;
      overflow: hidden;
      margin-right: 10px;
      padding-left: 2px;
      background: #007352;
    }
    ul {
      .make-row(0);
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      .make-xs-column(3, 0);
      .make-sm-column(2, 0);
      border: 1px solid #007352;
      background-color: #d4f2f6;
      height: 100px;
      .box-sizing(border-box);
      text-align: center;
      position: relative;
      .number {
        font-size: 20px;
        line-height: 100%;
        margin-top: 12px;
      }
      .sprite {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        height: 32px;
        width: 32px;
        margin-top: -8px;
        margin-left: -16px;
      }

      &.seen {
        cursor: pointer;

        &:hover {
          border-color: #ec3200;
          outline: 1px solid #ec3200;
          z-index: 1;
        }

        &.selected {
          background: #ffee9f;
        }

        &:not(.caught) .sprite {
          opacity: 0.4;
        }
      }
    }
    .scroll-container {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      .box-sizing(border-box);
      height: 100%;
      width: 10px;
      border: 2px solid #007352;
      background: #292929;
      border-top-width: 1px;
      border-bottom-width: 1px;
      .scroll-box {
        position: absolute;
        top: 2px;
        right: 2px;
        left: 2px;
        bottom: 2px;
        border-top: 2px solid #007352;
        border-bottom: 2px solid #007352;
        background: #08b57b;
      }
      .scroll-block {
        position: absolute;
        margin: -4px;
        left: 0;
        right: 0;
        height: 16px;
        border: 2px solid #4a8418;
        background: #94ef18;
      }
    }
  }
}

@media (min-width: 768px) {
  #pokedex-view {
    #pokedex-sprites {
      margin-top: -48px;
      margin-left: -240px;
    }
    .pokedex-entry {
      height: 164px;
      .entry-infobox {
        right: 20px;
        left: auto;
        margin-left: 0;
      }
    }
  }
}

@media (min-width: 992px) {
  #pokedex-view {
    .pokedex-entry {
      .entry-infobox {
        right: 60px;
      }
    }
  }
}