.pokemon-events-view {
  text-align: center;

  .sprite-container {
    > * {
      display: inline-block;
      height: 96px;
      width: 96px;
    }
  }

  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }
}

#encounter-view .pokemon-events-view {
  .sprite-container img {
    display: none;
  }
}