@storageBlue: #bad2ec;

#storage-view {
  .title {
    .make-row(0);

    .custom {
      .make-sm-column(3, 0);
      .make-sm-column-push(9);

      > div {
        position: relative;
        margin-bottom: 5px;
        margin-top: 5px;

        button {
          .btn-block;
        }

        &.open .dropdown-menu {
          width: 100%;
        }
      }
    }

    .name {
      .make-sm-column(6, 0);
      .make-md-column(5, 0);
      .make-sm-column-pull(3);
      height: 90px;
      border-top-left-radius: 50% 100%;
      border-top-right-radius: 50% 100%;
      border: 6px solid;
      margin-bottom: -6px;
      padding-top: 30px;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
    }
  }

  > .content {
    padding: 16px 16px 0;
  }

  .pokemon-container {
    .make-row(0);

    .pokemon-grid {
      .make-xs-column(6, 0);
      .make-sm-column(2.4, 0);
      .make-md-column(2, 0);
    }
  }

  .storage-pages {
    text-align: center;
  }
  
  &.wallpaper-blue {
    .title {
      .name {
        border-color: @storageBlue;
        color: @storageBlue;
      }

      .custom {
        button {
          .button-variant(darken(@storageBlue, 50%), @storageBlue, darken(@storageBlue, 5%));
          .caret {
            border-top-color: darken(@storageBlue, 50%);
          }
        }
      }
    }
    > .content {
      background-color: @storageBlue;
    }
  }


  .popover {
    max-width: none;
    background-color: #7c92d5;
    margin: 37px 0;
    padding: 0;
    border: none;
    .arrow {
      display: none;
    }
    .popover-content {
      padding: 0;
    }
  }
}

.storage-pokemon-view {
  .box-sizing(border-box);

  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  border-radius: 50px;
  margin: 8px auto;

  &:not(.storage-pokemon-view-empty) {
    cursor: pointer;
  }

  img.sprite {
    display: block;
    -webkit-user-select: none;
       -moz-user-select: none;
  }
}

@media (max-width: 767px) {
  #storage-view {
    .popover {
      left: 50% !important;
      margin-left: -146px;
      margin-top: 0;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #storage-view {
    > .content {
      padding: 5px 5px 0;
    }
  }

  .storage-pokemon-view {
    margin: 2.5px auto;
  }
}